Source: libcutiewlc
Section: libs
Maintainer: Erik Inkinen <erik.inkinen@erikinkinen.fi>
Priority: optional
Build-Depends: pkg-kde-tools,
               cmake,
               qt6-base-dev,
               qt6-declarative-dev,
               qt6-wayland-dev,
               qt6-wayland,
               pkg-config,
Standards-Version: 4.5.1

Package: libcutiewlc
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains a Qt wrapper for Cutie-spcific Wayland protocols.

Package: libcutiewlc-dev
Architecture: any
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}, libcutiestore (= ${binary:Version})
Description: This package contains aa Qt wrapper for Cutie-spcific Wayland protocols. (Development headers)
